.card {
  @apply bg-primary mb-8 transform transition-transform relative h-[316px];
  @apply hover:scale-105 hover:bg-secondary;
  box-shadow: rgba(50, 50, 93, 0.25) 0 0 0 0, rgba(0, 0, 0, 0.3) 0 0 0 0;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px, rgba(0, 0, 0, 0.3) 0 18px 36px -18px;
}

.card a {
  @apply flex h-full w-full;
}

.card a > div {
  flex: 1 1 50%;
}

.card a:hover .cardContent {
  @apply text-primary;
}

.cardContent {
  @apply py-4 px-4 flex flex-col justify-between text-tertiary;
}

.card a:hover .cardContent svg {
  @apply text-primary;
}

.cardContent svg {
  @apply fill-tertiary;
}

.cardImage {
  @apply relative;
}

.cardImage > div {
  @apply h-full;
}

.card ul {
  @apply absolute top-2 right-0 h-6;
}
