.blockImage {
  @apply relative;
}

.blockImage img {
  @apply rounded;
}

.alignfull {
  margin: 64px calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
  max-height: 480px;
}

.alignfull > div {
  @apply w-full object-cover;
  max-height: 480px;
}

.alignright,
.alignleft {
  @apply w-1/2 h-3/6 p-4 overflow-hidden;
}

.alignright img,
.alignleft img,
.alignfull img {
  @apply w-full h-full object-cover;
}

.alignright + div:not(.alignright, .alignleft) {
  @apply float-none md:w-1/2 md:float-left;
}

.alignleft + div:not(.alignright, .alignleft) {
  @apply float-none md:float-right md:w-1/2;
}

.alignright + div:not(.alignright, .alignleft) + div,
.alignleft + div:not(.alignright, .alignleft) + div {
  @apply clear-both;
}

.alignright {
  @apply float-none md:float-right w-full md:w-1/2 h-3/6 p-4 overflow-hidden;
}

.alignleft {
  @apply float-none md:float-left w-full md:w-1/2 h-3/6 p-4 overflow-hidden;
}

.aligncenter {
  @apply w-full mx-auto text-center;
}
